.inputContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.listContainer {
    display: flex;
    margin-top: 40;
}

.closeIcon {
    /* cursor: pointer; */
    color: red;
}

.editIcon {
    color: white;
}